#search{
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: gray;
    text-align: center;
}

input:focus{
    outline: none;
}